@import 'mixin';

$width-container: 80px;
$height-container: 125px;
$width-carte: 70px;
$height-carte: 115px;
$margin-carte: 10px;
$distance-carte: 25px;

.container__carte {
    position: absolute;
    // rotate: random(360) * 1deg;
    @include flex(column, center, center);
    width: $width-container;
    height: $height-container;
    margin-top: $margin-carte;
    margin-left: $distance-carte;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;

    .carte {
    @include flex(column, space-between, start);
    flex-wrap: wrap;
      width: $width-carte;
      height: $height-carte;
      background-color: white;
      border: 1px solid black;
      border-radius: 10px;

      .carte_top {
        @include flex(column, start, center);
        font-size: 15px;
      }

      .carte_left_total {
        text-align: left;
        margin-left: 5px;
      }

      .carte_bottom {
        width: 100%;
        @include flex(column, start, start);
        font-size: 15px;
        transform:rotate(-180deg);
      }

      .carte_right_total {
        text-align: center;
        margin-left: 5px;
      }

      .carte_center {
        width: 100%;
      }
      .carte_icon_center{
        text-align: center;
        font-size: 35px;
      }
      }
    }

    #carte_2 {
      // margin-top: $distance-carte *2;
      margin-left: $distance-carte *2;
    }

    #carte_3 {
      // margin-top: $distance-carte *3;
      margin-left: $distance-carte *3;
    }

    #carte_4 {
      // margin-top: $distance-carte *4;
      margin-left: $distance-carte *4;
    }

    #carte_5 {
      // margin-top: $distance-carte *5;
      margin-left: $distance-carte *5;
    }

    #carte_6 {
      // margin-top: $distance-carte *6;
      margin-left: $distance-carte *6;
    }