@import 'cartes';

body {
  background-color: green;
}


.parent_container {
  @include flex(row, center, center);
}

.container {
  @include flex(row, space-between, start);
  position: relative;
  margin-top: 50px;
  width: 800px;
  height: 600px;
  border: 5px solid white;
  border-radius: 20px;
  background: lighten(green, 20%);
  @include rotate-carte();
}

.container_2 {
  margin-top: 100px;
  margin-left: 100px;
  @include flex(row, center, center);
  width: 500px;
  height: 400px; 
  @include random-carte();
}

.container_3 {
  @include flex(column, start, end);
  rotate: 90deg;
  width: 800px;
  height: 600px;
  margin-right: 150px;
  @include rotate-carte();
}