@import 'cartes';

body {
  background-color: green;
}


.parent_container {
  @include flex(center, center, center);
}

.container {
  @include flex(column, space-between, start);
  position: relative;
  margin-top: 50px;
  width: 800px;
  height: 600px;
  border: 5px solid white;
  border-radius: 20px;
  background: lighten(green, 20%);
}