body {
  background-color: green;
}

@mixin flex($justify, $align) {
  display:flex;
  justify-content: $justify;
  align-items: $align;
}

.parent_container {
  @include flex(center, center);
}

.container {
  width: 800px;
  height: 600px;
  border: 5px solid white;
  border-radius: 20px;
  background: lighten(green, 20%);
}